/*
!/.gitignore
!/README.md
!/CHANGELOG.md
!/NOTICE.md
!/docs/
/docs/*
!/docs/GETTING-STARTED.md
!/docs/FAQ.md
!/docs/PRIVACY.md
!/docs/images/
/docs/images/*
!/docs/images/desktop-timetable.png
!/.github/
/.github/*
!/.github/ISSUE_TEMPLATE/
/.github/ISSUE_TEMPLATE/*
!/.github/ISSUE_TEMPLATE/bug.yml
!/.github/ISSUE_TEMPLATE/idea.yml
!/.github/ISSUE_TEMPLATE/config.yml
